@charset "utf-8";
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*초기 설정*/
*{
  margin: 0;
  padding: 0;
  list-style:none;
  box-sizing: border-box;
  font-family: 'GmarketSansMedium';
}

body{
  background: #ffffff;
  color:#222328;
  font-family: 'GmarketSansMedium';
}

a{
  text-decoration:none;
  display:block;
}

main {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  background: #EAEAEA;
  height: 75px;
  position: fixed;
  z-index: 1000;
}

.headers {
  width: 1200px;
  height: 75px;
  background: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.logo {
  margin-top: 5px;
}

.button-menu {
  display:  flex;
  gap: 10px;
}

.button-menu button {
  background-color: #5fad85;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 50px;
  width: 130px;
}

.button-menu button > a {
  color: white;
  font-size: 15px;
}

.button-menu button:hover {
  background-color: #3a875f;
  transform: scale(1.05);
}

.container1{
  position: relative;
}

.space {
  height: 75px;
}

.mainImg > img {
  width: 100%;
  height: auto;
  display: block;
}

.mainTitle {
  font-size: 30px;
  position: absolute;
  top: 27%;
  left: 25%;
}

.name {
  display: inline;
  font-weight: bold;
}

.mainContent {
  width: 700px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  font-size: 18px;
  position: absolute;
  top: 40%;
  left: 25%;
}

.item {
  box-sizing: border-box;
}

.item2 {
  white-space: nowrap;
  margin-top: 3px;
}

a {
  display: inline;
  color: #008299;
}

.enfjImg {
  position: absolute;
  left: 30%;
  bottom: 15%;
}

.enfjImg > img {
  width: 500px;
}

.container2 {
  width: 100%;
}

.subTitle {
  color: #53aba3;
  font-size: 35px;
  font-weight: bold;
  background-color: #EAEAEA;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.subTitle > img {
  width: 40px;
  margin: 0 5px;
}

.subTitle2 {
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.subTitle2 > img {
  width: 35px;
  margin: 10px;
}

.subTitle3 {
  font-size: 17px;
  font-weight: bold;
  padding-left: 50px;
  color: #008299;
  display: flex;
  align-items: center;
}

.subTitle4 {
  font-size: 22px;
  font-weight: bold;
  padding-left: 50px;
  color: #008299;
  display: flex;
  align-items: center;
}

.subContent {
  font-size: 17px;
  padding-left: 50px;
}

.content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content1 {
  margin: 10px 30px 30px;
}

.container3-1 {
  margin: 10px 30px 30px;
}

.img-html-css-js,
.img-react,
.img-spring,
.img-github {
  width: 120px;
  margin: 5px;
  margin-left: 50px;
}

.img-java {
  width: 100px;
  margin: 5px;
  margin-left: 50px;
}

.img-python {
  width: 160px;
  margin-left: 40px;
}

.img-oracle {
  width: 80px;
  margin: 5px;
  margin-left: 50px;
}

.img-springboot{
  width: 50px;
}

.round-box {
  border: 3px solid #99d1b4;
  margin: 20px;
  padding: 20px 40px 30px 0;
  border-radius: 10px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px auto 30px;
  justify-content: center;
}

.project1 {
  border: 3px solid #99d1b4;
  height: 380px;
  border-radius: 10px;
  width: 280px;
}

.pokemon {
  width: 274px;
  height: 160px;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
}

.joyfarm {
  width: 274px;
  height: 170px;
  border-radius: 10px 10px 0 0;
}

.nonnull {
  margin-top: 5px;
  width: 274px;
  height: 160px;
}

.description {
  padding: 10px 12px;
  line-height: 21px;
  font-size: 14px;
}

.information2 {
  padding: 10px 40px 10px 60px;
  line-height: 25px;
}

.star {
  width: 30px;
  margin-right: 5px;
}

.pokemon-img {
  width: 500px;
  height: 350px;
}

.joyfarm-img {
  width: 500px;
  height: 300px;
}

.nonnull-img {
  width: 340px;
  height: 200px;
}

.icon {
  margin-top: 5px;
  margin-left: 100px;
}

.joyfarm-imgs {
  display: flex;
  justify-content: center;
}

footer{
  width:100%;
  height: 180px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color:  #4d4d4d;
}

.footer-view {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.top-btn {
  position: fixed;
  bottom: 30px;
  right: 40px;
  background-color: #5fad85;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.top-btn:hover {
  background-color: #3a875f;
  transform: scale(1.1);
}

.top-btn:focus {
  outline: none;
}